.contactForm {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contactForm__label {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.contactForm__input { 
  display: block;
  box-sizing:border-box;
  border: 1px solid rgb(43, 42, 42);
  border-radius: 6px; 
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
}

.contactForm__input:focus{
  outline-color: rgb(23, 91, 150);
}

.contactForm__submit {
  border: none;
  border-radius: 6px;
  display: block;
  padding: 10px 20px;
  background-color: rgb(23, 91, 150);
  cursor: pointer;
  transition: 0.5s ease;
  width:100%;
  outline: none;
}

.contactForm__submit:hover {
  box-shadow: 0px 0px 8px rgb(45, 122, 238);
}

.alertModal{
  position: absolute;
  top: -10px;
  right: 0;
  width: 280px;
  height: 50px;
  border: 0 solid;
  border-radius: 6px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 50px;
}

